:root {
    --color-1: #023059;
    --color-2: #012340;
    --color-3: #D9D8D7;
    --color-4: #78430b;
    --color-5: #8e5305;
    --color-blanco-1: #fff;
    --color-blanco-2: #efefef;
}

/* Reset CSS básico */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows:
    auto 1fr auto;
    font-family: "Nunito", sans-serif;
    background-color: var(--color-5);
}

main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--color-3);
}

.sectionLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 320px;
    height: 380px;
    background-color: var(--color-2);
    color: var(--color-blanco-1);
    position: relative;
    padding: 40px 20px 20px 20px; 
}

form{
    width: 100%;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

.sectionLogin h2{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.sectionLogin label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.sectionLogin input{
    width: 100%;
    margin-bottom: 20px;
}

.sectionLogin input[type="text"],
.sectionLogin input[type="password"] {
    border: none;
    border-bottom: 1px solid var(--color-blanco-1);
    background-color: transparent;
    outline: none;
    height: 40px;
    color:var(--color-blanco-1);
    font-size: 16px;
}

.btnIngresar{
    border:none;
    outline: none;
    height: 40px;
    background: var(--color-4);
    color: var(--color-blanco-1);
    font-size: 18px;
    border-radius: 20px;
    width: 100%;
    display:block;
    margin-bottom: 10px;
}

.sectionLogin a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color:var(--color-blanco-1);
}

.sectionLogin a:hover{
    color:var(--color-blanco-2)
}

